---
title: Про сайт | LogoSpace
description: LogoSpase — це перший український сайт з логопедичними онлайн-іграми та простір для розвитку мовлення дітей у форматі гри.
layout: base.njk
permalink: /about/
---

<!--------------- baner ------------------->

<div class="about-baner-text">
    <div class="overlay"></div>
    <div class="container">
        <div class="about-baner-text-content">
            <h1 class="about-main-title">Про сайт LogoSpace</h1>
            <span class="about-main-subtitle">Вже багато років ми допомагаємо дітям розвивати мову через гру та турботу!</span>
        </div>
    </div>
</div>

<!--------------- mission ------------------->

<div class="mission">
    <div class="container">
        <h2 class="misson-header">Наша місія та цінності</h2>
        <div class="mission-content">
            <div class="mission-text">
                <h4>Місія:</h4>
                <p>Наш сайт створений логопедом для покращення мовлення дітей — у радість і без примусу. Ми поєднуємо сучасні технології та ігровий підхід, щоб зробити розвиток мовлення доступним як удома, так і на заняттях зі спеціалістом.</p>
                <h4>Цінності:</h4>
                <ul>
                    <li><b>Мотивація</b> – дитина вчиться із задоволенням.</li>
                    <li><b>Гра</b> – розвиток мовлення відбувається легко й цікаво.</li>
                    <li><b>Сучасність</b> – поєднання логопедичних методик і цифрових рішень.</li>
                    <li><b>Доступність</b> – ігри підходять для будь-якої сім’ї й країни.</li>
                    <li><b>Для всіх</b> – ефективні як удома з батьками, так і на заняттях зі спеціалістом.</li>
                    <li><b>Без примусу</b> – розвиток у радість, з опорою на сильні сторони дитини.</li>
                </ul>
            </div>
            <div class="mission-img-wrap">
                <img src="../img/logospace-1.jpg" alt="LogoSpace" class="missiom-img">
                <img src="../img/logospace-2.jpg" alt="LogoSpace" class="missiom-img">
                <img src="../img/logospace-3.jpg" alt="LogoSpace" class="missiom-img">
                <img src="../img/logospace-4.jpg" alt="LogoSpace" class="missiom-img">
            </div>
        </div>
    </div>
</div>

<!--------------- advantages ------------------->

<div class="about-advantages">
    <div class="container">
        <div class="about-advantages-header">
            <h2 class="about-advantages-header-title">Чому вибирають нас</h2>
            <p class="about-advantages-header-subtitle">Як наш сайт сприяє розвитку мовлення вашої дитини?</p>
        </div>
        <div class="about-advantages-blok">
            <ul class="about-advantages-list">
                <li class="about-advantages-item">
                    <img class="about-advantages-img" src="../img/icon-child.png" alt="Індивідуальний підхід">
                    <div class="about-advantages-item-content">
                        <h3 class="about-advantages-item-title">Понад <span>1000</span> дітей пройшли наші програми</h3>
                    </div>
                </li>
                <li class="about-advantages-item">
                    <img class="about-advantages-img" src="../img/icon-person.png" alt="Ігрова форма занять">
                    <div class="about-advantages-item-content">
                        <h3 class="about-advantages-item-title"><span>98%</span> задоволених батьків</h3>
                    </div>
                </li>
                <li class="about-advantages-item">
                    <img class="about-advantages-img" src="../img/icon-team.png" alt="Рекомендації від логопедів">
                    <div class="about-advantages-item-content">
                        <h3 class="about-advantages-item-title">Команда з профільною освітою та досвідом <span>5+</span> років</h3>
                    </div>
                </li>
                <li class="about-advantages-item">
                    <img class="about-advantages-img" src="../img/icon-games.png" alt="Підходить для домашнього навчання">
                    <div class="about-advantages-item-content">
                        <h3 class="about-advantages-item-title">Зручний онлайн-формат та понад <span>50</span> розвиваючих ігор</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--------------- site-description ------------------->

<div class="site-description">
    <div class="container">
        <h2 class="site-description-header">Про сайт LogoSpace</h2>
        <p>LogoSpase — це перший український сайт з логопедичними онлайн-іграми та простір для розвитку мовлення дітей у форматі гри.</p>
        <p>На цьому сайті з онлайн іграми ви знайдете:</p>
        <ul>
            <li>логопедичні ігри для автоматизації звуків, розвитку словника, памʼяті, уваги;</li>
            <li>завдання, які підійдуть для дітей від 2х років;</li>
            <li>простий, зручний і цікавий інструмент для логопедів, батьків і педагогів.</li>
        </ul>
        <p>LogoSpase — це не просто логопедичний сайт. Це місце, де дитина вчиться говорити через гру.</p>
        <p>Кожна логопедична гра створена так, щоб дитина навчалась із задоволенням.</p>
        <p>Сайт з онлайн іграми LogoSpase — створено логопедом для логопедів, батьків і педагогів, які шукають цікаві інструменти для розвитку мовлення.</p>
        <p>Тут усе просто, яскраво та з користю: граєш — і розвиваєшся.</p>

    </div>
</div>

<!--------------- contact-form ------------------->
<section class="about-contact-section">
    <div class="container">
            <h2 class="about-contact-title">Зв'язатись з нами</h2>
            <div class="about-contact-content">
                <img src="../img/contacts.jpg" alt="Про сайт Siename" class="about-contact-img">
                <form class="about-contact-form" id="contact-form" action="send.php" method="post">
                <div class="about-form-group">
                    <label for="name">Ім’я</label>
                    <input type="text" id="name" name="name" required placeholder="Введіть ваше ім’я">
                </div>

                <div class="about-form-group">
                    <label for="email">Електронна пошта</label>
                    <input type="email" id="email" name="email" required placeholder="Введіть ваш email">
                </div>

                <div class="about-form-group">
                    <label for="message">Коментар</label>
                    <textarea id="message" name="message" rows="5" required placeholder="Ваше повідомлення"></textarea>
                </div>

                <button type="submit" class="about-submit-btn">Відправити</button>
                </form>
            </div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('contact-form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const response = await fetch('send.php', {
            method: 'POST',
            body: formData
        });

        const result = await response.text();
        alert(result);
    });
});
</script>