<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-logo">
                <a href="/"><img src="/img/LogoSpace.gif" alt="Logo LogoSpace"></a>
            </div>
            <div class="footer-nav">
                <nav class="footer-menu">
                        <ul class="footer-menu-list">
                            <li class="footer-menu-item"><a class="footer-menu-link" href="/">Головна</a></li>
                            <li class="footer-menu-item"><a class="footer-menu-link" href="/games/">Ігри</a></li>
                            <li class="footer-menu-item"><a class="footer-menu-link" href="/poradi-logopeda/">Поради логопеда</a></li>
                            <li class="footer-menu-item"><a class="footer-menu-link" href="/about/">Про сайт</a></li>
                            <li class="footer-menu-item"><a class="footer-menu-link" href="/contacts/">Контакти</a></li>
                            <li class="footer-menu-item"><a class="footer-menu-link" href="/sitemap/">Карта сайту</a></li>
                        </ul>
                    </nav>
            </div>
            <div class="footer-contacts">
                <a class="footer-contacts-link" href="mailto:annayevgenevna@gmail.com">annayevgenevna@gmail.com</a>
                <a class="footer-contacts-link" href="tel:+380964606120">+38 (096)-460-61-20</a>
                <div class="footer-social">
                    <a class="footer-social-link" href="https://www.instagram.com/anna.logoped_/"><img class="footer-social-logo" src="/img/Instagram_icon.png" alt="Instagram"></a>
                    <a class="footer-social-link" href="https://www.facebook.com/share/177vEcYhC8/"><img class="footer-social-logo" src="/img/facebook-logo.png" alt="Facebook"></a>
                    <a class="footer-social-link" href="https://web.telegram.org/k/#@logospasegame"><img class="footer-social-logo" src="/img/telegram-logo.png" alt="Telegram"></a>
                </div>
            </div>
            <div class="footer-privacy-policy">
                <a class="footer-privacy-policy-link" href="#">Політика конфіденційності</a>
                <a class="footer-privacy-policy-link" href="#">Договір оферти</a>
            </div>
        </div>
    </div>
</footer>